.fb {
    font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 14px;
    padding: 15px 30px 15px 30px;
    background: #3A5A97;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,20,.4);
    text-decoration: none;
    line-height: 1;
    position: relative;
    border-radius: 5px;
}

.fbButton {
    padding: 0;
    border: none;
}

.input {
    margin-bottom: 5px;
}

.page {
	background-color: darkgray;
    min-height: 100vh;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.googleButton {
    margin-bottom: 8px;
}

.title {
	text-align: center;
    font-size: 40px;
    box-sizing: border-box;
    margin-bottom: 60px;
    margin-top: 20px;
}

.currentUser {
	text-align: center;
    font-size: 15px;
}

.currentUserWrapper {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.formWrapper {
    box-sizing: border-box;
}

.buttonWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 20px;
}

.thirdPartyButtonWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}